<mat-card class="modify-noodle-card">
  <mat-card-header>
    <mat-card-title>Edit Noodle</mat-card-title>
  </mat-card-header>

  <form [formGroup]="noodleForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Noodle Name">
      <mat-error *ngIf="noodleForm.get('name')?.hasError('required')">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" placeholder="Price" type="number">
      <mat-error *ngIf="noodleForm.get('price')?.hasError('required')">Price is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image" placeholder="Image URL">
      <mat-error *ngIf="noodleForm.get('image')?.hasError('required')">Image is required</mat-error>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="noodleForm.invalid">Save</button>
      <button mat-raised-button color="warn" type="button" (click)="router.navigate(['/noodles-list'])">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
