div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

div image{
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease,box-shadow 0.3s ease;
}
div img:hover{
  transform: scale(1.05);
  box-shadow:0 8px 16px rgba(0, 0, 0, 0.2) ;
}
