<nav>
  <ul>
    <li><a routerLink="/noodles-list">Home</a></li>
    <li><a routerLink ="/modify-list-item">Modify List Item</a></li>

  </ul>
</nav>

<form>
  <h2>Fill out the form:</h2>
  <label for ="name">Name:</label>
  <input
  type="text"
  id="name"
  placeholder="Enter your name"
  [appHighlightOnFocus]="'lightgreen'" />

  <label for ="email">Email:</label>
  <input
    type="email"
    id="email"
    placeholder="Enter your email"
    [appHighlightOnFocus]="'lighblue'" />

  <label for ="password">Password:</label>
  <input
  type="password"
  id="password"
  placeholder="Enter your password"
  [appHighlightOnFocus]="'pink'"/>
</form>


<router-outlet></router-outlet>
<app-noodles-list></app-noodles-list>
