body{
  font-family: Calibri;
  background-color: lightcyan;
}

h1{
  text-align: center;
  font-family: Impact;
  font-size: xxx-large;
}

div{
  border: 1px solid black;
  background-color: lightseagreen;
  padding: 20px;
  margin: 10px;
}

div:hover{
  background-color: lightgreen;
}
